In [257]:
import pandas as pd
import numpy as np

# PX

In [258]:
px_db = pd.read_csv("px.csv")

In [259]:
px_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512482 entries, 0 to 5512481
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   pxid        object
 2   age         int64
 3   gender      object
dtypes: int64(2), object(2)
memory usage: 168.2+ MB

In [260]:
px_db.isnull().any()

Unnamed: 0    False
pxid          False
age           False
gender        False
dtype: bool

In [261]:
px_db['gender'].value_counts()

gender
FEMALE    3095509
MALE      2416973
Name: count, dtype: int64

In [262]:
px_db['gender'].unique()

array(['FEMALE', 'MALE'], dtype=object)

In [263]:
px_db['age'].value_counts()

age
54     150375
29     125362
28     121702
31     120597
32     120355
        ...
96       2365
97       1870
98       1339
99       1072
100       826
Name: count, Length: 101, dtype: int64

In [264]:
px_db['age'].unique()

array([ 54,   8,   2,  67,  89,  31,  59,  14,  34,  29,  60,  32,  33,
         1,  27,  65,  64,   5,  62,  40,  50,   6,  83,  69,  37,  22,
        42,  78,  55,  48,  81,  66,  58,  82,  44,  43,  30,  79,  38,
        74,  26,  70,  36,   9,  93,  12,  23,  21,  72,   4,  63,  80,
        61,  16,  20,  18,  11,  46,  45,  49,  71,  35,  25,  28,  53,
        57,  41,  52,  86,   3,  24,  47,  90,  10,  87,  77,  51,  73,
        76,  13,  56,  75,  39,  15,   7,  17,  68,  19,   0,  84,  88,
        92,  95,  96,  98,  91,  85,  99,  94,  97, 100], dtype=int64)

In [265]:
# check for duplicates
px_db.duplicated().any()

False

In [266]:
# drop the said duplicates
px_db = px_db.drop_duplicates()

In [267]:
px_db.duplicated().any()

False

In [268]:
# convert all strings to int
px_db['age'] = pd.to_numeric(px_db['age'], errors='coerce').astype('Int64')

In [269]:
# change N/A values to the mode of the dataframe
px_db['age'].fillna(px_db['age'].where(px_db['age'] > 0).mode().iloc[0], inplace=True)

In [270]:
px_db['age'].unique()

<IntegerArray>
[ 54,   8,   2,  67,  89,  31,  59,  14,  34,  29,
 ...
  92,  95,  96,  98,  91,  85,  99,  94,  97, 100]
Length: 101, dtype: Int64

In [271]:
# check for the number of negative values
(px_db['age'] < 0).sum().sum()

0

In [272]:
px_db['age'].isnull().any()

False

In [273]:
# change negative values to the mode of df['age']
px_db['age'] = px_db['age'].mask(px_db['age'] < 0, px_db['age'].mode())

In [274]:
# seeing that there are age more than 100
px_db['age'].unique()

<IntegerArray>
[ 54,   8,   2,  67,  89,  31,  59,  14,  34,  29,
 ...
  92,  95,  96,  98,  91,  85,  99,  94,  97, 100]
Length: 101, dtype: Int64

In [275]:
# replace outliers with mode
px_db['age'] = px_db['age'].mask(px_db['age'] > 100, px_db['age'].mode())

In [276]:
px_db['age'].value_counts()

age
54     150375
29     125362
28     121702
31     120597
32     120355
        ...
96       2365
97       1870
98       1339
99       1072
100       826
Name: count, Length: 101, dtype: Int64

In [277]:
# drop row that has 'gender' as gender in df
mask = px_db['gender'] == 'gender'

In [278]:
px_db = px_db[~mask]

In [279]:
px_db['gender'].unique()

array(['FEMALE', 'MALE'], dtype=object)

In [280]:
positive_age_mode = px_db['age'].where(px_db['age'] > 0).mode().iloc[0]
px_db['age'].fillna(positive_age_mode, inplace=True)

In [281]:
px_db.shape[0]

5512482

In [282]:
px_db = px_db.drop_duplicates(subset='pxid')

In [283]:
px_db.shape[0]

5512482

In [284]:
px_db.isnull().any()

Unnamed: 0    False
pxid          False
age           False
gender        False
dtype: bool

In [285]:
appoint_db = pd.read_csv("appointments.csv")

In [286]:
new_pxdb = px_db.merge(appoint_db, left_on='pxid', right_on='pxid')[['pxid', 'age', 'gender']]

In [287]:
new_pxdb.shape[0]

320140

In [288]:
new_pxdb

                                    pxid  age  gender
0       519CAC5EFB113B0E451F77E31541A314   36  FEMALE
1       224DEFC6F387F61F307846B09F945EB2   34  FEMALE
2       224DEFC6F387F61F307846B09F945EB2   34  FEMALE
3       224DEFC6F387F61F307846B09F945EB2   34  FEMALE
4       D02F0CFD3B6617FF0FD923C9787D5522   55    MALE
...                                  ...  ...     ...
320135  FED6D4194DA23CA4607410C55D6DF246   66    MALE
320136  018132C688D9CFBAE3DDAF01505243F3   82  FEMALE
320137  018132C688D9CFBAE3DDAF01505243F3   82  FEMALE
320138  018132C688D9CFBAE3DDAF01505243F3   82  FEMALE
320139  018132C688D9CFBAE3DDAF01505243F3   82  FEMALE

[320140 rows x 3 columns]

In [289]:
new_pxdb.duplicated().any()

True

In [290]:
new_pxdb.duplicated().any()

True

In [291]:
new_pxdb.shape[0]

320140

In [292]:
new_pxdb = new_pxdb.drop_duplicates()

In [293]:
new_pxdb.shape[0]

67194

In [294]:
new_pxdb.duplicated().any()

False

In [295]:

# Get the existing pxid in new_pxdb
existing_pxid = new_pxdb['pxid'].unique()

# Select 200,000 random rows from px_db that do not have the same pxid as in new_pxdb
random_rows_px_db = px_db[~px_db['pxid'].isin(existing_pxid)].sample(n=300000, random_state=42, replace=False)

# Concatenate new_pxdb with the randomly selected rows from px_db
new_pxdb = pd.concat([new_pxdb, random_rows_px_db], ignore_index=True)

# Verify the shape of the updated DataFrame
print(new_pxdb.shape[0])

367194

In [296]:
new_pxdb.duplicated().any()

False

# Clinic

In [297]:
clinics_db = pd.read_csv("clinics.csv", encoding = "ISO-8859-1")

In [298]:
clinics_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    53962 non-null  int64
 1   clinicid      53962 non-null  object
 2   hospitalname  53962 non-null  object
 3   IsHospital    53962 non-null  bool
 4   City          53962 non-null  object
 5   Province      53962 non-null  object
 6   RegionName    53962 non-null  object
dtypes: bool(1), int64(1), object(5)
memory usage: 2.5+ MB

In [299]:
clinics_db['hospitalname'].unique()

array(["St. Luke's Medical Center-Global City",
       'Our Lady of Lourdes Hospital', 'Makati Medical Center', ...,
       'Leyte Provincial Hospital',
       "Lopez District Farmer's Hospital, Inc.", 'Alegre Medical Clinic'],
      dtype=object)

In [300]:
clinics_db['City'].unique()

array(['Taguig', 'Manila', 'Makati', 'San Juan', 'Burgos', 'Butuan City',
       'Basco', 'Quezon City', 'Mandaue City', 'Santa Rosa City',
       'San Fernando City', 'Santiago City', 'Batangas City',
       'Iloilo City', 'Botolan', 'Las PiÃ±as', 'Balabac', 'Pasig',
       'Bilar', 'Malabon', 'Caloocan', 'Muntinlupa', 'Candijay',
       'San Nicolas', 'Calape', 'Cebu City', 'Manito', 'Pasay',
       'Cabanatuan City', 'Antipolo City', 'Taytay', 'Cainta',
       'Mandaluyong', 'Marikina', 'San Leonardo', 'DasmariÃ±as City',
       'Bacoor City', 'Malolos City', 'ParaÃ±aque', 'Imus City', 'Silang',
       'San Jose del Monte City', 'San Mateo', 'Davao City',
       'Kidapawan City', 'Tagbilaran City', 'General Trias', 'Balamban',
       'Bacolod City', 'Cagayan de Oro', 'Guagua', 'Lubao',
       'Zamboanga City', 'Rizal', 'Santa Cruz', 'Asuncion', 'Tagum City',
       'Cardona', 'Morong', 'Tanay', 'Teresa', 'Meycauayan City',
       'Santo Domingo', 'San Jose City', 'Trece Martires City', 'Angono',
       'Mabalacat City', 'Angeles City', 'Ozamiz City', 'Bocaue',
       'Pulilan', 'Baliuag', 'Lucena City', 'Plaridel', 'Bustos',
       'Valenzuela', 'Koronadal City', 'Dumaguete City', 'Sibulan',
       'Navotas', 'Tanza', 'Cabuyao City', 'Batac City', 'Tacloban City',
       'San Pedro City', 'Daet', 'Kalilangan', 'Baguio City',
       'Urdaneta City', 'Lapu-Lapu City', 'Alicia', 'Dagupan City',
       'Legazpi City', 'Naga City', 'Iligan City', 'Digos City',
       'Bayawan City', 'Lipa City', 'Asturias', 'Valladolid', 'Bansud',
       'Pila', 'Bay', 'BiÃ±an City', 'La Trinidad', 'Sablayan', 'Dinagat',
       'Minglanilla', 'Malita', 'Cordoba', 'Olongapo City', 'Padada',
       'Boac', 'Malaybalay City', 'Santa Maria', 'Kawit', 'Bulakan',
       'San Pablo City', 'Capas', 'Calamba City', 'Hilongos', 'Bacnotan',
       'Miagao', 'Tanauan City', 'Santo Tomas', 'Marawi City', 'Carmona',
       'Cavite City', 'Basey', 'Talisay City', 'Alegria', 'Cabiao',
       'Dingle', 'Surigao City', 'Consolacion', 'Tagaytay City',
       'San Francisco', 'Burdeos', 'Floridablanca', 'Binalonan',
       'Tarlac City', 'Porac', 'Roxas', 'Bauko', 'Sagada',
       'Alaminos City', 'Daraga', 'Bayombong', 'Balanga City',
       'Borongan City', 'Rosario', 'General Mariano Alvarez',
       'Laoag City', 'Valencia City', 'Lingayen', 'Agoo',
       'Puerto Princesa City', 'General Santos City', 'Panabo City',
       'Apalit', 'Marilao', 'Kalibo', 'Lambunao', 'Baler', 'Gattaran',
       'Lemery', 'Bauan', 'Paombong', 'Balayan', 'Dimasalang', 'Malay',
       'Gingoog City', 'Tuguegarao City', 'Ilagan City', 'Camalaniugan',
       'Cabagan', 'Tabuk City', 'Vigan City', 'Bantay', 'Sorsogon City',
       'La Carlota City', 'Cauayan City', 'Bangued', 'Governor Generoso',
       'Tandag City', 'Mendez', 'Toboso', 'San Marcelino', 'Manaoag',
       'Ipil', 'Balaoan', 'Iriga City', 'Tampakan', 'Aritao', 'Subic',
       'San Luis', 'Mexico', 'Los BaÃ±os', 'Dinalupihan', 'Toledo City',
       'Nabua', 'Atok', 'San Carlos City', 'Guiguinto', 'Siniloan',
       'Surallah', 'Dapa', 'Pakil', 'Nasugbu', 'Alfonso', 'Noveleta',
       'Bambang', 'Obando', 'Dapitan City', 'Calumpit', 'Ormoc City',
       'Tacurong City', 'Norzagaray', 'Abra de Ilog', 'Calapan City',
       'Binangonan', 'Taal', 'Lala', 'Alcoy', 'Tayabas City',
       'Carcar City', 'Tabango', 'Maramag', 'Alubijid', 'Alimodian',
       'Tinambac', 'Padre Burgos', 'Candelaria', 'Lucban', 'Sariaya',
       'Nueva Valencia', 'Kabankalan City', 'Mamburao', 'Manabo', 'Naic',
       'Mangatarem', 'Solano', 'Pandan', 'Roxas City', 'Aborlan', 'Tayug',
       'Abulug', 'Sanchez-Mira', 'Boljoon', 'Anahawan', 'Alabat',
       'Gloria', 'Cotabato City', 'Polomolok', 'Calanasan', 'Samal City',
       'Luna', 'Bangar', 'Tagudin', 'Aringay', 'Cuenca', 'Lambayong',
       'Aglipay', 'Santa Catalina', 'Adams', 'Compostela',
       'Libjo (Albor)', 'Calasiao', 'Abucay', 'Sultan Kudarat', 'Lian',
       'Labason', 'Rodriguez', 'Quezon', 'Del Gallego', 'Buluan',
       'Cagdianao', 'Midsayap', 'Cabadbaran City', "M'lang",
       'Manolo Fortich', 'Pagadian City', 'Tabaco City', 'Ligao City',
       'Baybay City', 'Cabugao', 'Panganiban', 'Libon', 'Puerto Galera',
       'Margosatubig', 'Lamut', 'Polangui', 'Calbayog City', 'Pateros',
       'Solana', 'Balindong', 'Luisiana', 'Dipolog City', 'Passi City',
       'Alamada', 'Maragusan', 'Agoncillo', 'Bulan', 'Pastrana',
       'Kabasalan', 'Liloy', 'Calayan', 'Magalang', 'Candon City',
       'Polillo', 'Calauag', 'Dingras', 'Catarman', 'Buenavista',
       'Santa Ana', 'Flora', 'Pagsanjan', 'Llorente', 'Masbate City',
       'Batan', 'Liloan', 'Santiago', 'Baras', 'Alcala',
       'Science City of MuÃ±oz', 'Bombon', 'Hermosa', 'Pangil', 'Nasipit',
       'Naguilian', 'San Ildefonso', 'Victorias City', 'Dagohoy',
       'Santa Barbara', 'Malitbog', 'Tanjay City', 'San Pascual',
       'Pozzorubio', 'Danao City', 'Guimbal', 'Macabebe', 'Pambujan',
       'San Joaquin', 'Ubay', 'Paete', 'New Washington', 'Virac',
       'Agdangan', 'Narvacan', 'Isulan', 'San Jose', 'Naval', 'Lugus',
       'San Miguel', 'Calaca', 'Santa Teresita', 'Malvar', 'Anini-y',
       'Tobias Fornier', 'Prosperidad', 'Hagonoy', 'Naga', 'Arayat',
       'Orani', 'Kiblawan', 'Anda', 'Oroquieta City', 'San Fabian',
       'Bacarra', 'Dumarao', 'Sogod', 'Libmanan', 'Sampaloc', 'Rosales',
       'Villasis', 'Laoac', 'Bogo City', 'Medellin', 'Lopez',
       'San Rafael', 'Pamplona', 'Arteche', 'Tiwi', 'Cabarroguis',
       'Coron', 'Gonzaga', 'Enrique B. Magalona', 'Kabacan', 'Gumaca',
       'Talisay', 'Sagay City', 'Maragondon', 'New Bataan', 'Bugallon',
       'Talavera', 'Gapan City', 'Bago City', 'Guimba', 'Leyte',
       'Kananga', 'Valencia', 'Makilala', 'Carmen', 'Esperanza',
       'Pagbilao', 'Norala', 'Leon', 'Odiongan', 'Silay City',
       'Tangub City', 'Camiling', 'Ajuy', 'San Antonio', 'Balagtas',
       'Luba', 'Maslog', 'Santa Ignacia', 'Alabel', 'Maco', 'Zumarraga',
       'Siquijor', 'Aguilar', 'Matungao', 'Calabanga', 'Bato',
       'Pontevedra', 'Burauen', 'Carranglan', 'Zaragoza', 'Santa Rosa',
       'Cuartero', 'Aurora', 'Al-Barka', 'Majayjay', 'Zamboanguita',
       'Corcuera', 'Caibiran', 'Montevista', 'Bayambang', 'Galimuyod',
       'San Quintin', 'Bislig City', 'Medina', 'Clarin', 'Monreal', 'Iba',
       'Gabaldon', 'Kiamba', 'Ibaan', 'Oton', 'Tubod', 'Angat', 'Cabusao',
       'Monkayo', 'Moncada', 'Kibawe', 'Goa', 'Libungan', 'Laguindingan',
       'Mondragon', 'Pavia', 'Banate', 'Buguias', 'Nabunturan',
       'Bien Unido', 'Palo', 'Infanta', 'Mawab', 'Nabas', 'Canaman',
       'Cadiz City', 'Orion', 'Mabinay', 'Upi', 'Banayoyo', 'Capul',
       'Maria', 'Dauis', 'Maasin City', 'Paluan', 'Pigcawayan', 'Bolinao',
       'Kasibu', 'Malalag', 'Victoria', 'Bonifacio', 'Jabonga',
       'Mati City', 'Concepcion', 'Poro', 'Salcedo', 'Malasiqui',
       'Binalbagan', 'Trinidad', 'Bacolor', 'Mariveles', 'Almeria',
       'Siaton', 'Calauan', 'Casiguran', 'Paoay', 'Lasam', 'Pinamalayan',
       'Nagcarlan', 'Pantukan', 'Pilar', 'Pandi', 'Bais City', 'Jasaan',
       'Tiaong', 'Bagabag', 'Carigara', 'Catbalogan City', 'Famy', 'Jolo',
       'Bauang', 'Bamban', 'Antequera', 'Jaen', 'Paniqui', 'Don Carlos',
       "Brooke's Point", 'Pililla', 'Bulusan', 'Oslob', 'Santander',
       'Bagac', 'Real', 'Magdalena', 'Licab', 'Gamay', 'Cuyapo',
       'Echague', 'Baroy', 'Liliw', 'El Nido', 'Laak', 'Caba', 'Socorro',
       'Balingasag', 'Manticao', 'Talisayan', 'Binmaley', 'Guiuan',
       'Araceli', 'Indang', 'San Agustin', 'Labangan', 'Bataraza', 'Tago',
       'Cavinti', 'Bantayan', 'Manapla', 'Aroroy', 'Sinait', 'Pinili',
       'Sibonga', 'Alangalang', 'Mabini', 'Alaminos', 'Magallanes',
       'San Clemente', 'Claveria', 'Manay', 'Baganga', 'Palauig',
       'Allacapan', 'Banga', 'Sipocot', 'Pikit', 'Alburquerque',
       'Libagon', 'Jamindan', 'Mambusao', 'Barobo', 'Asingan', 'Mandaon',
       'Abuyog', 'Sultan Dumalondong', 'Banguingui', 'Pinabacdao',
       'Madrid', 'Dolores', 'New Corella', 'Bacolod', 'Jose Dalman',
       'Initao', 'Molave', 'Pintuyan', 'Sasmuan', 'Camalig', 'Vintar',
       'Palompon', 'Daanbantayan', 'Murcia', 'San Pablo', 'Natividad',
       'Umingan', 'General Emilio Aguinaldo', 'Amadeo', 'Labo', 'Candoni',
       'Kitaotao', 'Lezo', 'Mauban', 'Samal', 'Guihulngan City',
       'Cabatuan', 'San Manuel', 'Kapangan', 'Trento', 'Ramon Magsaysay',
       'Tublay', 'Baao', 'Castillejos', 'Padre Garcia', 'Cateel', 'Pili',
       'Bacacay', 'Lal-lo', 'Lapuyan', 'Pasuquin', 'Panglao', 'Opol',
       'Diadi', 'Sara', 'Pitogo', 'Antipas', 'Argao', 'Gerona',
       'Roseller Lim', 'Marantao', 'Santa Rita', 'Atimonan', 'Llanera',
       'President Roxas', 'Dao', 'Kapatagan', 'Piat', 'Candaba',
       'Tabuelan', 'Tupi', 'Aleosan', 'Hamtic', 'Calinog', 'Guinobatan',
       'San Felipe', 'Aparri', 'Cuyo', 'Tabogon', 'Tuburan', 'Pototan',
       'Malinao', 'Gasan', 'Marihatag', 'Baco', 'Gubat', 'Taysan',
       'Mataasnakahoy', 'Bongabon', 'Jalajala', 'Masinloc', 'San Remigio',
       'Kitcharao', 'Bula', 'Dilasag', 'General Nakar', 'Tagoloan',
       'Dimataling', 'Santa Monica', 'San Isidro', 'Lagonoy', 'Tabina',
       'General Luna', 'Tuba', 'Currimao', 'Magsingal', 'Calintaan',
       'Mangaldan', 'Bangui', 'Matalom', 'Babatngon', 'Tagkawayan',
       'Catanauan', 'Barotac Nuevo', 'Balatan', 'Kalamansig',
       'Hinundayan', 'Tigbauan', 'Dumanjug', 'Sabtang', 'San Simon',
       'Minalin', 'Estancia', 'Wao', 'Baloi', 'Lupon', 'Banaybanay',
       'Tanudan', 'San Jacinto', 'PeÃ±ablanca', 'Moalboal', 'Ronda',
       'Badoc', 'Tubigon', 'Panay', 'Tubao', 'Limay', 'Ragay', 'Baggao',
       'Tulunan', 'San Fernando', 'Imelda', 'Buug', 'Palayan City',
       'Masantol', 'Culion', 'Aliaga', 'Lubang', 'San Narciso',
       'Isabela City', 'Tumauini', 'La Libertad', 'Sison', 'Sindangan',
       'Basista', 'Urbiztondo', 'Maddela', 'Sulop', 'Patnongon',
       'Bunawan', 'Sarangani', 'Balangiga', 'Jaro', 'Biliran', 'Bontoc',
       'Bongabong', 'Alilem', 'Patnanungan', 'Janiuay', 'Vallehermoso',
       'Buguey', 'Kapalong'], dtype=object)

In [301]:
clinics_db['RegionName'].unique()

array(['National Capital Region (NCR)', 'Ilocos Region (I)',
       'Caraga (XIII)', 'Cagayan Valley (II)', 'Central Visayas (VII)',
       'CALABARZON (IV-A)', 'Western Visayas (VI)', 'Central Luzon (III)',
       'MIMAROPA (IV-B)', 'Bicol Region (V)', 'Davao Region (XI)',
       'SOCCSKSARGEN (Cotabato Region) (XII)', 'Northern Mindanao (X)',
       'Zamboanga Peninsula (IX)', 'Eastern Visayas (VIII)',
       'Cordillera Administrative Region (CAR)',
       'Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)'],
      dtype=object)

In [302]:
clinics_db.duplicated().any()

False

In [303]:
clinics_db['Province'].unique()

array(['Manila', 'Ilocos Sur', 'Agusan del Norte', 'Batanes', 'Cebu',
       'Laguna', 'La Union', 'Isabela', 'Batangas', 'Iloilo', 'Zambales',
       'Palawan', 'Bohol', 'Ilocos Norte', 'Albay', 'Nueva Ecija',
       'Rizal', 'Cavite', 'Bulacan', 'Davao del Sur', 'Cotabato',
       'Negros Occidental', 'Misamis Oriental', 'Pampanga',
       'Zamboanga del Sur', 'Davao del Norte', 'Misamis Occidental',
       'Quezon', 'South Cotabato', 'Negros Oriental', 'Leyte',
       'Camarines Norte', 'Bukidnon', 'Benguet', 'Pangasinan',
       'Camarines Sur', 'Lanao del Norte', 'Oriental Mindoro',
       'Occidental Mindoro', 'Dinagat Islands', 'Davao Occidental',
       'Marinduque', 'Tarlac', 'Angeles', 'Lanao del Sur', 'Samar',
       'Surigao del Norte', 'Agusan del Sur', 'Mountain Province',
       'Nueva Vizcaya', 'Bataan', 'Eastern Samar', 'Aklan', 'Aurora',
       'Cagayan', 'Masbate', 'Kalinga', 'Sorsogon', 'Abra',
       'Davao Oriental', 'Surigao del Sur', 'Zamboanga Sibugay',
       'Zamboanga del Norte', 'Sultan Kudarat', 'Guimaras', 'Antique',
       'Capiz', 'Southern Leyte', 'Maguindanao', 'Apayao', 'Quirino',
       'Compostela Valley', 'Catanduanes', 'Ifugao', 'Northern Samar',
       'Biliran', 'Sulu', 'Romblon', 'Sarangani', 'Siquijor', 'Basilan',
       'Taguig', 'Camiguin'], dtype=object)

In [304]:
clinics_db.isnull().any()

Unnamed: 0      False
clinicid        False
hospitalname    False
IsHospital      False
City            False
Province        False
RegionName      False
dtype: bool

In [305]:
(clinics_db['hospitalname'].isnull()).sum().sum()

0

In [306]:
# change N/A values to 'Unknown'
clinics_db['hospitalname'].fillna('Unknown', inplace=True)

In [307]:
clinics_db.isnull().any()

Unnamed: 0      False
clinicid        False
hospitalname    False
IsHospital      False
City            False
Province        False
RegionName      False
dtype: bool

In [308]:
clinics_db.shape[0]

53962

In [309]:
clinics_db = clinics_db.drop_duplicates(subset='clinicid')

In [310]:
clinics_db.shape[0]

53962

After examining the data, it seems that no interpolation technique can be made since it specifies a certain hospital. We can't do dropping of values as well since 36424 rows will be dropped, affecting the data largely. Thus, putting a placeholder, like "Unknown" is the best choice for this dataframe.

# Appointment

In [311]:
appoint_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320140 entries, 0 to 320139
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  320140 non-null  int64
 1   pxid        320140 non-null  object
 2   clinicid    320140 non-null  object
 3   doctorid    320140 non-null  object
 4   apptid      320140 non-null  object
 5   status      320140 non-null  object
 6   TimeQueued  320140 non-null  object
 7   QueueDate   320140 non-null  object
 8   StartTime   203608 non-null  object
 9   EndTime     60152 non-null   object
 10  type        320140 non-null  object
 11  Virtual     130004 non-null  object
dtypes: int64(1), object(11)
memory usage: 29.3+ MB

In [312]:
appoint_db.head()

,Unnamed: 0,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,0,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:38.247000000,2020-07-02 16:00:00,2020-07-02 17:00:38.073000000,2020-07-02 17:15:38.073000000,Consultation,NaN
1,1,FE4A5D5A20EC492D2FC691F126A568AB,BAE3529F0210CC5A603AC708BB5E7797,ACB3A881C7CE9ABCAE0CE8C99C86A906,F3BAF3D43E9C6DE6D41850604F4A3A71,Serving,2020-07-24 06:30:36.910000000,2020-07-24 16:00:00,2020-07-25 02:00:36.877000000,2020-07-25 02:15:36.877000000,Consultation,NaN
2,2,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:16.403000000,2020-07-12 16:00:00,2020-07-12 17:00:15.833000000,2020-07-12 17:15:15.833000000,Consultation,NaN
3,3,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:13.537000000,2020-07-28 16:00:00,2020-07-29 05:00:13.133000000,2020-07-29 05:15:13.133000000,Consultation,NaN
4,4,E6BC8E80685AA4A239617F196F12A0C3,BAE3529F0210CC5A603AC708BB5E7797,ACB3A881C7CE9ABCAE0CE8C99C86A906,87C3AD392CEF821752AB5191F67D46A7,Serving,2020-07-31 02:13:15.870000000,2020-07-31 16:00:00,2020-08-01 02:30:56.457000000,2020-08-01 02:45:56.460000000,Consultation,NaN

In [313]:
appoint_db.status.unique()

array(['Queued', 'Serving', 'NoShow', 'Complete', 'Cancel', 'Skip'],
      dtype=object)

In [314]:
appoint_db['status'].value_counts()

status
Queued      179638
Complete    135259
Cancel        2258
Serving       1544
NoShow        1008
Skip           433
Name: count, dtype: int64

In [315]:
appoint_db['type'].value_counts()

type
Consultation    319931
Inpatient          209
Name: count, dtype: int64

In [316]:
appoint_db['Virtual'].value_counts()

Virtual
False    124157
True       5847
Name: count, dtype: int64

In [317]:
appoint_db.isnull().any()

Unnamed: 0    False
pxid          False
clinicid      False
doctorid      False
apptid        False
status        False
TimeQueued    False
QueueDate     False
StartTime      True
EndTime        True
type          False
Virtual        True
dtype: bool

In [318]:
appoint_db.duplicated().any()

False

In [319]:
# n = 100000
# appoint_db = appoint_db.sample(n, random_state=25)
# appoint_db.head()

In [320]:
appoint_db = appoint_db.merge(px_db, left_on='pxid', right_on='pxid')[['pxid', 'clinicid', 'doctorid', 'apptid', 'status', 'TimeQueued', 'QueueDate', 'StartTime', 'EndTime', 'type', 'Virtual']]

In [321]:
appoint_db.head()

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:38.247000000,2020-07-02 16:00:00,2020-07-02 17:00:38.073000000,2020-07-02 17:15:38.073000000,Consultation,NaN
1,FE4A5D5A20EC492D2FC691F126A568AB,BAE3529F0210CC5A603AC708BB5E7797,ACB3A881C7CE9ABCAE0CE8C99C86A906,F3BAF3D43E9C6DE6D41850604F4A3A71,Serving,2020-07-24 06:30:36.910000000,2020-07-24 16:00:00,2020-07-25 02:00:36.877000000,2020-07-25 02:15:36.877000000,Consultation,NaN
2,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:16.403000000,2020-07-12 16:00:00,2020-07-12 17:00:15.833000000,2020-07-12 17:15:15.833000000,Consultation,NaN
3,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:13.537000000,2020-07-28 16:00:00,2020-07-29 05:00:13.133000000,2020-07-29 05:15:13.133000000,Consultation,NaN
4,E6BC8E80685AA4A239617F196F12A0C3,BAE3529F0210CC5A603AC708BB5E7797,ACB3A881C7CE9ABCAE0CE8C99C86A906,87C3AD392CEF821752AB5191F67D46A7,Serving,2020-07-31 02:13:15.870000000,2020-07-31 16:00:00,2020-08-01 02:30:56.457000000,2020-08-01 02:45:56.460000000,Consultation,NaN

In [322]:
appoint_db.shape[0]

320140

In [323]:
appoint_db=appoint_db.drop_duplicates(subset='apptid')

In [324]:
appoint_db.shape[0]

320140

Appointments seem to have valid data.

# Doctors

In [325]:
doctors_db = pd.read_csv("doctors.csv", encoding = "ISO-8859-1")

In [326]:
doctors_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59602 entries, 0 to 59601
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     59602 non-null  int64
 1   doctorid       59602 non-null  object
 2   mainspecialty  59602 non-null  object
 3   age            59602 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.8+ MB

In [327]:
doctors_db['mainspecialty'].value_counts()

mainspecialty
Unknown                                  33273
Internal Medicine                         3812
General Medicine                          2317
Pediatrics                                1709
Family Medicine                            894
                                         ...
Orthopaedics (Bone and Joint Surgery)        1
Generalists                                  1
Public Health, Pathology                     1
Internal Medicibe                            1
Allergist                                    1
Name: count, Length: 3618, dtype: int64

In [328]:
doctors_db['mainspecialty'].unique()

array(['General Medicine', 'Family Medicine', 'Vascular Medicine', ...,
       'Bone alignment therapy', 'Healot Biomekaniks', 'Allergist'],
      dtype=object)

In [329]:
# WIP, also idk how to drop the stuff thats in the list so if yall know how pls lmk ee
doctors_db = doctors_db[~doctors_db["mainspecialty"].isin(["Test", "Endocrinology (test)", "Testing", "test", "abc", "bbbb", "abbb",
 "isiwiwiw", "super saiyan", "Db", "Ll", "Main", "m", "as", "ggg", "SolSee",  "ya", "1", "MainS", "1231", "123", "MS",  "xxx", "asd", "F?s????e?ape?t??",
   "MainSpecialty", "kirurgji", "zxczcxcxzcxz", "ABCD", "b", "L", "RN/A", "123123", "AAAAAAAAAAA", "A", "AAA", "Omomi", "afsf", "Hjj",  "aoeu", "ooooo", 
   "'><img src=x onerror=prompt(1)>", "s","a", "gaga", "man", "M", "Things", "aaaaaaaaaaa", "Com", "nope", "Rrr", "IDK", "B",
   "Aaa", "Yy", "lkjsadlfkj", "kdsjflkfdsjg", "Yg", "Me :)", "Breeding Uroplatus", "Absenos", "qweqwe", "zzz", "nnnnnn", "sdf",
   "Special","n","12", "AGREE", "Dhjdu", "Me", "Md", "Help", "P", "43", "fdgf", "ertryty", "sdaf", "sdfsda",
   "Est qui minim et au", "Hull Engineering", "Ghhhhj", "Computer Science And Technology", "Gsu", "fhhhf",
   "Ttt", "Ship handling", "acctg", "Gh", "Specialty 1",  "Specialty", "Ok", "Human Resources", "Web Development",
   "ABC", "ertertertert ertert", "Degree", "patient", "Test account", ".", "main specialty", "Web Developer",
   "F", "Welder pipe filter", "Patienr", "Sorry wrong sign up", "sdd", "Helping mother to gave birth by normal delivery",
   "Hshshs", "w", "Hahaha", "Test Only", "Babag", "computer science", "accounting", "Test Specilty", "kik", "Sdj",
   "Bdjsp", "finane", "Being Me", "3", "tester", "Major in accountancy", "any", "CS", "I", "Bshshshs",
    "FN", "sccs", "moon light", "No", "User", "asfasfsaf", "awf", "asdf", "Shejsjj", "Elecrical", "dd", "bba", "N", "x","Internet",
    "HACKING","Worker","Her", "f", "Lalala", "Hh", "core", "Fpsedm", "Sales", "cc", "Sample", "Sen", "Level 1 Hospital",
    "Ghetto", "maka", "Sick", "Qui culpa in quo ea", "Bab", "bussiness", "sasa", "yes", "BEEd", "Bsb", "Hhh", "Restaurants",
    "Bvv", "X", "000", "Kakakak", "Fabricator", "English", "Ddsdaa", "222", "Ids", "tests", "Consult", "I need Medicine",
    "Shy caustic  ", "English Language Studies", "dwadawd", "da", "wada", "fawawf", "Housewife", "hba1c", "H", "bjj",
    "hjikjjbh", "Calvin Smith", "Pineapple Processing", "What", "Shaman", "hhhbb", "banking", "Design", "broken colarbone",
    "S", "Hahahahah","Hsha","Hsha", "asdas", "trial", "sir", "asdasd", "jj", "ef", "a/a", "ad", "adasd", "cfvhgbjnk", "sample",
    "sh", "Snsjsj", "das", "bhb", "im not a doctor", "Q", "--", "vv", "Bsbs", "Nil","Ndhdbehbsjshs", "Seafarer", "to", "On",
    "Bbbb", "hah", "ghbb", "need a demtology", "cxxxc", "Mother", "Resting", "2", "medcert", "Aa", "c", "J", "IMMKMLKSMDLKMS",
    "aaa", "Gygghh", "Hshhs", "Xisis", "Not A Doctor", "guycvujb", "hhh", "qqq", "dfghdfjh", "to motivate", "W", "Asksbdkdnd",
    "Shshaha", "k", "nejdhdjdjdh", "For check up", "Check up", "Wrong Entry", "Partner Visa", "fdd", "All", "jsjsjsja", "LLala",
    "Bbb", "Jajan", "Snsnd", "", "FOLLOW UP", "hdh", "enen", "js", "wqeqwe"
   ])]

doctors_db = doctors_db.replace(to_replace=["docmark_coli@yahoo.com","Leading You To True Health","SURGUYYY","Doctor","logistics", "In", "main","3D", 
"event coordinator", "a/a", "ad", "SPECIALTY", "non", "Loves Kids", "Bed Making","ONLINE KONSULTA","DR.RUSSEL VILLANUEVA",
"FAMED", "Your Health Is Our Priority", "-", "na", "Patient", "Nothing", " ", "Na", "RALPh Roque", "RN", "Jennifer Apurillo Baldillo",
"appointments", "Marc", "N/a", "Trisha Reyes", "Not Sure", "OSH", "Dr. Anna Mitzi Matela", "Vnc","Dra. beverly",
"Valerie Ann  Valdez", "Gonzalez", "NONE", "Wala", "MBA", "Agnes Atas", "Too many to mention", "None ", "Oliver Delgado Castro",
"N/A ", "Valdez", "Faye Garciano", "Need Consultant Of Doctor Before Vaccine", "N.A", "n.a","0", "nan", "VA", "none", "PGI",
"La", "Second opinion", "Luisa marie s cruz", "ERN", "Herrera", "-", "MeFocal cert", "Nothings ", "Orjto", "Mr.", "Makati med",
"mr", "doc", "Doc", "Cruz", ". ", "Allen Marquez", "131375", "Azarraga", "Skip", "??", "515828", "no", "Nonde", "Fermont Base", 
"Juan Rafael", "Benoza", "Yu", "jana", "Joshua Bacolod", "unknown"
], value="Unknown")

unique_specialty = doctors_db['mainspecialty'].unique()

In [330]:
doctors_db['age'].unique()

array([41, 43, 26, 34, 50, 62, 38, 57, 44, 59, 39, 49, 55, 37, 40, 48, 51,
       46, 45, 54, 61, 60, 31, 65, 36, 72, 64, 35, 47, 33, 68, 42, 73, 53,
       58, 71, 52, 56, 67, 63, 66, 81, 69, 70, 32, 91, 75, 30, 78, 76, 27,
       29, 74,  8,  7, 28, 80, 24, 25, 92, 77, 23, 83,  4, 86, 88, 21, 22,
       84, 79, 17, 85], dtype=int64)

In [331]:
doctors_db['age'].value_counts()

age
34    40893
35     1076
33      972
37      969
36      950
      ...
22        1
84        1
79        1
17        1
85        1
Name: count, Length: 72, dtype: int64

In [332]:
doctors_db.isnull().any()

Unnamed: 0       False
doctorid         False
mainspecialty    False
age              False
dtype: bool

In [333]:
doctors_db['mainspecialty'].isnull().sum().sum()

0

In [334]:
doctors_db['age'] = pd.to_numeric(doctors_db['age'], errors='coerce').astype('Int64')

In [335]:
#replace outliers with mode
doctors_db['age'] = doctors_db['age'].mask(doctors_db['age'] > 100, doctors_db['age'].mode())

In [336]:
doctors_db['age'].unique()

<IntegerArray>
[41, 43, 26, 34, 50, 62, 38, 57, 44, 59, 39, 49, 55, 37, 40, 48, 51, 46, 45,
 54, 61, 60, 31, 65, 36, 72, 64, 35, 47, 33, 68, 42, 73, 53, 58, 71, 52, 56,
 67, 63, 66, 81, 69, 70, 32, 91, 75, 30, 78, 76, 27, 29, 74,  8,  7, 28, 80,
 24, 25, 92, 77, 23, 83,  4, 86, 88, 21, 22, 84, 79, 17, 85]
Length: 72, dtype: Int64

In [337]:
# change N/A values to the mode of the dataframe
doctors_db['age'].fillna(value=doctors_db['age'].mode().iloc[0], inplace=True)

In [338]:
doctors_db['age'].isnull().sum().sum()

0

In [339]:
doctors_db.isnull().any()

Unnamed: 0       False
doctorid         False
mainspecialty    False
age              False
dtype: bool

In [340]:
#replace null values with Unknown string
doctors_db['mainspecialty'].fillna('Unknown', inplace=True)

In [341]:
doctors_db['mainspecialty'].isnull().sum().sum()

0

In [342]:
doctors_db.shape[0]

59602

In [343]:
doctors_db = doctors_db.drop_duplicates(subset='doctorid')

In [344]:
doctors_db.shape[0]

59602

# Exporting the CSV

In [345]:
doctors_db.to_csv('doctors_modified.csv')

In [346]:
px_db.to_csv('px_modified.csv')

In [347]:
clinics_db.to_csv('clinics_modified.csv')

In [348]:
appoint_db.to_csv('appointments_modifed.csv')